* {
  margin: 0%;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background-color: rgba(216, 216, 216, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_cont {
  max-width: 1160px;
  width: 100%;
  height: 528px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.box_div {
  width: 100%;
  height: 528px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
}
.img_box {
  width: 100%;
  height: 253px;
  border-radius: 20px;
}
.test_box {
  color: rgba(8, 31, 50, 1);
  font-size: 20px;
  display: flex;
  max-width: 300px;
  height: 30px;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.image_box {
  width: 100%;
  max-width: 57px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.text_box {
  max-width: 312px;
  width: 100%;
  font-size: 18px;
  color: rgba(110, 121, 140, 1);
  height: 75px;
}
.smoll_box {
  max-width: 312px;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(165, 173, 187, 1);
  margin-bottom: 10px;
}
.number_box {
  width: 100%;
  max-width: 312px;
  height: 25px;
  font-size: 28px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
}
.btn_box {
  border: none;
  background-color: rgba(46, 204, 113, 1);
  height: 44px;
  border-radius: 10px;
  width: 100%;
  max-width: 114px;
}
.num_box {
  max-width: 73px;
  width: 100%;
  font-size: 20px;
  color: red;
}

@media (max-width: 657px) {
  .test_box {
    width: 100%;
    flex-wrap: wrap;
  }
  .image_box {
    display: none;
    width: 100%;
  }
  .smoll_box {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .number_box {
    width: 100%;
    flex-wrap: wrap;
    font-size: 12px;
    height: 55px;
  }
  .btn_box {
    font-size: 10px;
    width: 100%;
  }

  .text_box {
    font-size: 10px;
    width: 100%;
  }
}
@media (max-width: 546px) {
  .main_cont {
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
  }
}
